<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursebookingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CourseBookingApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseBookingApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"></activity>

        <activity android:name=".MainActivityWelcome"></activity>

        <activity android:name=".Administrator"></activity>

        <activity android:name=".UserList"></activity>

        <activity android:name=".CourseActivity" android:theme="@style/Theme.DialogBox"></activity>

        <activity android:name=".SearchCourse" android:theme="@style/Theme.DialogBox"></activity>


        <activity android:name=".CoursePage"></activity>

        <activity android:name=".Instructor"></activity>

        <activity android:name=".Student"></activity>

        <activity android:name=".ViewEnrolled"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver android:name=".Administrator" />
    </application>

</manifest>